<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gym, fitness, business, company, agency, multipurpose, modern, bootstrap4">
    
    <!-- theme meta -->
    <meta name="theme-name" content="gymfit" />
    <meta name="author" content="Themefisher.com">

    <title>{% block title %}GymFit | Fitness Template{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/icofont/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/themify/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/animate-css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/magnific-popup/dist/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/slick-carousel/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/plugins/slick-carousel/slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/css/style.css') }}">
</head>
